<%= form_with(model: venihle) do |form| %>
  <% if venihle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venihle.errors.count, "error") %> prohibited this venihle from being saved:</h2>

      <ul>
        <% venihle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
