
<div class="row">
  <div class="col-md-4 clearfix kad-header-left">
    <div id="logo" class="logocase">
      <a class="brand logofont" href="https://hermespol.com.pl/" title="Hermespol">
        <div id="thelogo">
          <img src="./Hermespol_files/Logo-Hermespol-1.png" alt="Hermespol" class="kad-standard-logo">
        </div>
      </a>
    </div>
  </div>
  <p>********************************************************</p>
  <div class="col-md-8 kad-header-right">
    <nav id="nav-main" class="clearfix">
      <ul id="menu-glowne" class="sf-menu sf-js-enabled">
        <li class="menu-home menu-item-22">
          <a class="brand logofont" href="#"  title= "просмотр всех данных о транспортных средствах">
            <span>MOJA FLOTA</span>
          </a>
        </li>
        <li>
          <a class="brand logofont" href="https://hermespol.com.pl/magazyn/" title="заментки от механиков или водителей">
            <span>ZGŁOSIC NAPRAWĘ</span>
          </a>
        </li>
        <li>
          <a class="brand logofont" href="https://hermespol.com.pl/transport-krajowy-i-miedzynarodowy/" title="здесь механик видит план работ, вносит данные по работам">
            <span>STREFA MECHANIKA</span>
          </a>
        </li>
        <li>
          <a class="brand logofont" href="https://hermespol.com.pl/dokumenty-do-pobrania/" title="пока свободно">
            <span>RESERWA</span>
          </a>
        </li>
      </ul>
    </nav>
  </div></div>
<p>********************************************************</p>